body {
    background-image: url("../images/castle-background.jpg");
    background-size: cover;
}

.crystals {
    height: 100px;
    margin: 10px 5px;
    position: relative; 
    width: 100px;
}

#crystals {
    position: fixed;
    right: 60px;
    top: 150px;
}

#currentTotal{
    color: white;
    float: center;
    font-size: 25pt;
    height: 100px;
    line-height: 100px;
    position: relative;
    text-align: center;
    width: 250px;
}

div {
    color: white;
    font-size: 25pt;
    height: 3px;
    line-height: 30px;
    padding-left: 25px;
    padding-top: 25px;
    position: relative;
    text-align: left;
}

h1 {
    color: white;
    font-size: 25pt;
    height: 100px;
    line-height: 40px;
    padding-left: 25px;
    padding-top: 25px;
    width: 250px;
}

#instructions{
    color: white;
    font-size: 13pt;
    line-height: 18px;
    padding-left: 25px;
    width: 475px;   
}

#numToMatch{
    color: white;
    float: center;
    font-size:25pt;
    height: 100px;
    line-height: 18px;
    position: relative;
    text-align: center;
    width: 250px;   
}

#winsLosses{
    color: white;
    font-size: 25pt;
    line-height: 175px;
    padding-bottom: 150px;
    padding-left: 25px;
    position: relative;
    text-align: left;
    width: 250px;
}